.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.bio img {
    height: 300px;
}

.bio span {
    color: var(--red);
    font-weight: bold;
}

.bio strong {
    color: var(--secondary);
    font-weight: bold;
}

.textos h1, p {
    margin-bottom: 1rem;
}

.techs {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.icones img {
    height: 50px;
}

@media (max-width: 390px) {
    .bio {
        flex-direction: column;
        padding: 30px 25px 0px 25px;
    }

    .textos {
        font-size: 1rem;
    }

    .techs {
        padding-bottom: 35px;
    }
}